.editor-layout {
  display: flex;
  flex-direction: row;
  height: 100vh;

  .mermaid-editor {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 20px;
    border-right: 1px solid gray;

    .monaco-editor-container {
      display: flex;
      flex-direction: column;
      gap: 15px;
      min-height: 300px;
      // height: 30%;

      select {
        width: 100%;
        padding: 10px;
        border-radius: 10px;
        border: 1px solid gray;
      }

      #editor {
        height: 100%;
      }
    }

    .input-container {
      height: 30%;
      padding: 10px;

      textarea {
        width: 95%;
        height: 100%;
        border-radius: 10px;
        padding: 10px;
      }
    }

    .preview-container {
      height: 70%;
      padding: 10px;

      .mermaid {
        text-align: center;
      }
    }
  }

  .react-flow-editor {
    height: 100%;
    width: 50%;

    .custom-edge-label {
      position: absolute;
      background-color: #1c9eef;
      color: white;
      border-radius: 4px;
      font-size: 12px;
      font-weight: 500;
      padding: 10px;
      pointer-events: auto;
    }

    .custom-node {
      padding: 10px 35px;
      min-width: 150px;
      text-align: center;
      border-radius: 7px;
      border: 1px solid #9370db;
      background-color: #ececff;

      [contenteditable="true"]:focus {
        background-color: #ffffff97;
      }

      .custom-node-label {
        background-color: #ffffff4c;
        cursor: pointer;
        padding: 3px 10px;
        border-radius: 50px;
        transition: all 0.3s ease-in-out;

        &:hover {
          background-color: #ffffffb6;
        }
      }
    }
  }
}
